
# TestResults

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**testId** | **kotlin.Int** |  | 
**passed** | **kotlin.Boolean** |  | 



